:root {
    --shoppi-green: #0DCA65;
    --shoppi-grey: #AFAFAF;
    --shoppi-black: #151515;
}

.categories-container {
    width: 100%;
    min-width: 320;
}
.categories-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

.categories-selection img {
    width: 5px;
    height: 9px;
}

.categories-container nav ul{
    width: 100%;
    height: 50px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: auto;
    gap: 8px;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.categories-container nav ul::-webkit-scrollbar {
    display: none;
}

.categories-container nav ul li {
    justify-content: flex-start;
    margin-top: 8px;
}

.active-category {
    text-decoration-line: none;
    border: solid 1px var(--shoppi-black);
    border-radius: 6px;
    padding: 4px 12px;
    background-color: var(--shoppi-black);
    color: white;
    white-space: nowrap;
}

.inactive-category {
    text-decoration-line: none;
    color: var(--shoppi-black);
    border: solid 1px var(--shoppi-grey);
    border-radius: 6px;
    padding: 4px 12px;
    white-space: nowrap;
}

